/* Resetowanie marginesów i paddingów */
body, h2, ul, form {
    margin: 0;
    padding: 0;
}

/* Ustawienia dla całego ciała dokumentu */
body {
    font-family: Arial, sans-serif; /* Czcionka */
    background-color: #808080; /* Szare tło */
    display: flex;
    flex-direction: column; /*Kolumnowe rozmieszczenie */
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* Wysokość 100% widoku */
}

.body_main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/background_main.png'); /* Ustawienie tła oraz dodatkowego cienia */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    background-color: rgba(255, 255, 255, 0.15); /* Kolor tła z efektem mgły */
    width: 100%;
    height: 150px;
}

.logo_main {
    height: 90px;
    width: 90px;
}

.header_container_main {
    /*display: flex;
    align-items: center;*/ /* Wyśrodkowanie elementów w pionie */
    /*flex-direction: row;
    justify-content: space-evenly;*/
    position: relative;
    margin-top: 12px;
}


.header_container_main_2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Dopasowanie elementów do środka */
    position: absolute; /* Umiesczenie bezględne */
    left: 10%;
    top: 2%;
}

.header_container_main_3 {
    position: absolute;
    left: 30%;
    top: 10%;
}


.header_project_name_main {
    font-size: 42px;
    font-weight: 700;
    padding: 10px 0;
    color: #ffffff; /* Biały kolor tekstu */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Cień dla tekstu */
}

.header_shortcut_name_main {
    font-size: 16px;
    font-weight: 600; /* Grubość czcionki */
    color: #ffffff;
    padding: 4px 8px;
}

    .header_shortcut_name_main:hover {
        transform: scale(1.1); /* Powiększenie przy najechaniu */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Większy cień przy najechaniu */
        cursor: pointer; /* Zmiana kursora, żeby było wiadomo, że można kliknąć  */
    }


/*.loginButton {
    width: 200px;*/ /* Szerokość 100% kontenera */
/*padding: 10px;
    background-color: #4CAF50;*/ /* Kolor tła przycisku */
/*color: white;*/ /* Kolor tekstu */
/*border: none;*/ /* Bez obramowania */
/*border-radius: 5px;*/ /* Zaokrąglenie rogów */
/*cursor: pointer;*/ /* Zmieniony kursor na wskaźnik */
/*font-size: 16px;*/ /* Rozmiar czcionki */
/*}*/
/*.mainSiteBody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);*/ /* Adjust color and opacity */
/*z-index: 1;
}*/

.body_container_main {
    background-color: #dcdcdc; /* Jasno szary */
    padding: 20px; /* Padding wewnętrzny */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%; /* Szerokość 100% kontenera */
    max-width: 400px; /* Maksymalna szerokość */
    height: 100%; /* Wysokość 100% widoku */
    max-height: 400px; /* Maksymalna wysokość */
    display: flex;
    flex-direction: column; /* Ustawia elementy w kolumnie */
    justify-content: space-around; /* Odsuwa elementy na równa odległość od końca i początku diva oraz od krawędzi */
}

.body_button_main_register, body_button_main_databse {
    width: 100%; /* Szerokość 100% kontenera */
    padding: 10px;
    background-color: #4CAF50; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmieniony kursor na wskaźnik */
    font-size: 16px; /* Rozmiar czcionki */
}

.footer_container_main {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    text-align: center; /* Rozmieszczenie tekstu w centrum */
    position: fixed; /* Stała pozycja względem przeglądarki */
    bottom: 0;
    left: 0;
}

.footer_ownership_paraghraph_main {
    color: #FFF;
}

/* Stylizacja nagłówka */
h2 {
    text-align: center;
    margin: 20px 0;
    color: white; /* Kolor nagłówka */
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    height: 100vh;
    padding: 20px;
    box-sizing: border-box; 
}

.left {
    width: 60%; 
}

.right {
    width: 80%; 
    border-radius: 10px;
    background-color: #dcdcdc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.85) translateY(-60px);
}


/* Stylizacja formularza */
form {
    background-color: #dcdcdc; /* Jasno szary */
    padding: 20px; /* Padding wewnętrzny */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%; /* Szerokość 100% kontenera */
    max-width: 400px; /* Maksymalna szerokość */
}

.custom_form {
    margin: 0; /* Usuń margines */
    background: none; /* Brak tła */
    padding: 0; /* Usuń odstępy */
    border: none; /* Usuń obramowanie */
}


/* Elementy formularza */
label {
    display: block; /* Blokowy styl dla etykiet */
    margin: 10px 0 0px; /* Odstępy */
    font-size: small;
    color: #575555;
}

input[type="text"] {
    width: 100%; /* Szerokość 100% */
    padding-bottom: 5px; /* Padding wewnętrzny */
    padding-top: 5px; /* Padding wewnętrzny */
    margin-bottom: 0px; /* Odstęp dolny */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
}

    input[type="text"]::placeholder {
        color: #000000; /* Change this to your desired color */
        opacity: 1; /* Optional: Set the opacity if you want to adjust the transparency */
    }

select {
    width: 102.5%; /* Szerokość 100% */
    padding-bottom: 5px; /* Padding wewnętrzny */
    padding-top: 5px; /* Padding wewnętrzny */
    margin-bottom: 0px; /* Odstęp dolny */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
}

/* Stylizacja przycisku do dodawania pacjenta */
input[type="submit"] {
    padding: 10px;
    background-color: #007BFF; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmieniony kursor na wskaźnik */
    font-size: 16px; /* Rozmiar czcionki */
    width: 100%;
}

    input[type="submit"]:hover {
        background-color: #0056b3; /* Ciemniejszy odcień niebieskiego przy najechaniu */
    }

/* Lista pacjentów */
ul {
    list-style-type: none; /* Usunięcie punktów z listy */
    padding: 0;
    width: 100%; /* Szerokość 100% */
    max-width: 500px; /* Maksymalna szerokość listy */
}

/* Elementy listy */
li {
    margin: 10px 0; /* Odstęp pomiędzy elementami listy */
}

/* Stylizacja kontenera dla przycisku */
.submit_container {
    display: flex; /* Umożliwia elastyczne rozmieszczenie */
    justify-content: center; /* Wyśrodkowanie poziome */
    margin-top: 20px; /* Odstęp górny */
}

/* Stylizacja przycisku pacjenta */
button {
    width: 100%; /* Szerokość 100% kontenera */
    padding: 10px;
    background-color: #4CAF50; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmieniony kursor na wskaźnik */
    font-size: 16px; /* Rozmiar czcionki */
}

    button:hover {
        background-color: #45a049; /* Ciemniejszy odcień zielonego przy najechaniu */
    }

/* Stylizacja modalnego okienka */
.modal {
    display: none; /* Ukryty domyślnie */
    position: fixed; /* Pozycjonowanie */
    z-index: 1; /* Na wierzchu */
    left: 0;
    top: 0;
    width: 100%; /* Szerokość 100% */
    height: 100%; /* Wysokość 100% */
    overflow: auto; /* Przewijanie, jeśli potrzebne */
    background-color: rgba(0, 0, 0, 0.7); /* Półprzezroczysty czarny tło */
}

/* Stylizacja treści modalnego okienka */
.modal_content {
    background-color: #f0f0f0; /* Jasno szary kolor modalnego okienka */
    color: black;
    margin: 15% auto; /* Marginesy dla centrowania */
    padding: 20px;
    border: 1px solid #888; /* Obramowanie */
    width: 80%; /* Szerokość modalnego okienka */
    max-width: 400px; /* Maksymalna szerokość */
    border-radius: 10px; /* Zaokrąglenie rogów */
}

    .modal_content h2 {
        color: #333; /* Ciemniejszy odcień nagłówka */
        font-size: 24px;
        margin-bottom: 15px;
    }

    .modal_content p {
        color: #555; /* Szary tekst dla reszty */
        font-size: 16px;
        margin: 5px 0;
    }

/* Stylizacja przycisku zamknięcia modala */
.close {
    color: #aaa; /* Kolor przycisku zamknięcia */
    float: right; /* W prawo */
    font-size: 28px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubienie */
}

    .close:hover,
    .close:focus {
        color: black; /* Zmiana koloru przy najechaniu */
        text-decoration: none; /* Bez podkreślenia */
        cursor: pointer; /* Zmieniony kursor na wskaźnik */
    }


path {
    opacity: 0; /* Zmiana na przejrzyste */
}

    path:hover {
        opacity: 30%;
    }

.injuries_body_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
}

#body_part_form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.top_right_buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Jeden przycisk pod drugim */
    gap: 10px; /* Odstęp między przyciskami */
}

    .top_right_buttons input[type="submit"] {
        padding: 5px 10px;
        font-size: 14px;
        background-color: #8049e4; /* Niebieski kolor */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .top_right_buttons input[type="submit"]:hover {
            background-color: #5c35a3; /* Ciemniejszy odcień przy najechaniu */
        }

.top_right_buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Jeden przycisk pod drugim */
    gap: 10px; /* Odstęp między przyciskami */
}

    .top_right_buttons input[type="submit"] {
        padding: 5px 10px;
        font-size: 14px;
        background-color: #8049e4; /* Niebieski kolor */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .top_right_buttons input[type="submit"]:hover {
            background-color: #5c35a3; /* Ciemniejszy odcień przy najechaniu */
        }

#textarea{
    resize: none;
/*    overflow: hidden;*/
      width: 100%;
}

.tooltip {
    position: absolute;
    top: 20%;
   right: 10%;
   /* transform: translateY(-50%);*/
    background-color: #f44336; /* Czerwony kolor tła */
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#modal_svg_content svg{
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-image: url("/static/images/human_body_model.jpg")
}


/* Styl dla modalu powiększonego obrazu */
#modal_image_view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Przyciemnione tło modalu */
    z-index: 9999;
    display: flex; /* Umożliwia centrowanie */
    justify-content: center;
    align-items: center;
}

#modal_image_content {
    position: relative;
    width: 420px; 
    height: 420px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

   





