body, h2, ul, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #808080; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
}

header {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 150px;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: white;
}

path {
    opacity: 0;
}

    path:hover {
        opacity: 30%;
    }

form {
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form.edit {
    box-sizing: border-box;
}

label {
    display: block;
    margin: 10px 0 0;
    font-size: small;
    color: #575555;
}

input {
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

    input[type="text"]::placeholder {
        color: #000000;
        opacity: 1;
    }

select {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    input[type="submit"]:hover {
        background-color: #0056b3;
    }


ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
}


li {
    margin: 10px 0;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #45a049;
    }



/* main_site */

.body_main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/background_main.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_main {
    height: 90px;
    width: 90px;
}

.header_container_main {
    position: relative;
    margin-top: 12px;
}


.header_container_main_2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;  
    left: 10%;
    top: 2%;
}

.header_container_main_3 {
    position: absolute;
    left: 30%;
    top: 10%;
}


.header_project_name_main {
    font-size: 42px;
    font-weight: 700;
    padding: 10px 0;
    color: #ffffff;  
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  
}

.header_shortcut_name_main {
    font-size: 16px;
    font-weight: 600;  
    color: #ffffff;
    padding: 4px 8px;
}

    .header_shortcut_name_main:hover {
        transform: scale(1.1);  
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
        cursor: pointer;  
    }


.body_container_main {
    background-color: #dcdcdc;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    width: 100%;  
    max-width: 400px;  
    height: 100%;  
    max-height: 400px;  
    display: flex;
    flex-direction: column;  
    justify-content: space-around;  
}

.body_button_main_register, body_button_main_databse {
    width: 100%;  
    padding: 10px;
    background-color: #4CAF50;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
}

.footer_container_main {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    text-align: center;  
    position: fixed;  
    bottom: 0;
    left: 0;
}

.footer_ownership_paraghraph_main {
    color: #FFF;
}

 

/* register */
.body_register {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/BG2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.container.edit {
    width: 320px;
}

.left {
    left: 5%;
    width: 60%;
}

.left.edit {
    width: 100%;
}

.right {
    right: 15%; 
    width: 80%;
    border-radius: 10px;
    background-color: #dcdcdc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.85); 
}

.custom_form {
    margin: 0;  
    background: none;  
    padding: 0;  
    border: none;  
}
 
.submit_container {
    display: flex;  
    justify-content: center;  
    margin-top: 20px;  
}

.submit_container.edit {
    gap: 16px;
}

.injuries_body_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
}

#body_part_form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#textarea {
    resize: none;
    width: 100%;
}

.tooltip {
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.body_part_form_buttons_container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body_part_form_button {
    padding: 16px 30px;
    background-color: #2194d7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 45%;
}

    .body_part_form_button:hover {
        background-color: #1a7bc1;
    }


.body_part_form_group {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .body_part_form_group textarea {
        width: 100%;
        height: 120px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 16px;
        resize: vertical;
        box-sizing: border-box;
        background-color: #f9f9f9;
        transition: border-color 0.3s ease;
    }

        .body_part_form_group textarea:focus {
            border-color: #2194d7;
            outline: none;
        }

    .body_part_form_group label {
        font-size: 14px;
        color: #555;
        margin-bottom: 8px;
        display: block;
    }



/* all */
.body_all {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.edit_button {
    background-color: #2194d7;
}
.edit_button:hover {
    background-color: #2269af;
}

.delete_button {
    background-color: #dd0000;
}
.delete_button:hover {
    background-color: #a80000;
}

.cancel_button {
    background-color: #888888;
}
.cancel_button:hover {
    background-color: #555555;
}

.modal {
    display: none;  
    position: fixed;  
    z-index: 1;  
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;  
    overflow: auto;  
    background-color: rgba(0, 0, 0, 0.7);  
}

 
.modal_content {
    background-color: #f0f0f0;  
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;  
    width: 80%; 
    max-width: 400px; 
    border-radius: 10px; 
}

    .modal_content h2 {
        color: #333; 
        font-size: 24px;
        margin-bottom: 15px;
    }

.modal_content.wide {
    max-width: 600px;
}

.button_container {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.details_panel {
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.05);
}

.modal_content h2 {
    color: #333; 
    font-size: 24px;
    margin-bottom: 15px;
}

    .modal_content p {
        color: #555; 
        font-size: 16px;
        margin: 5px 0;
    }

.modal_content p.warning {
    color: #ab0023;
    text-align: center;
    font-weight: bold;
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

    .close:hover,
    .close:focus {
        color: black; 
        text-decoration: none; 
        cursor: pointer; 
    }


.header_bar {
    background-color: rgba(255, 255, 255, 0.15);
    height: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_bar h2 {
    color: #ffffff; 
    margin: 0;
}

.top_right_buttons {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top_left_buttons {
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header_button {
    background-color: #8e8a8a;
}

.header_button:hover {
    background-color: #716e6e;
}

#modal_svg_content svg{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-image: url("/static/images/human_body_model.jpg")
}



#modal_image_view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 9999;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#modal_image_content {
    position: relative;
    width: 420px;
    height: 420px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.priority-0 {
    background-color: #188c18; 
    color: white;
}
.priority-0:hover {
    background-color: #105a10;
}

.priority-1 {
    background-color: #ffb400; 
    color: black;
}
.priority-1:hover {
    background-color: #aa7a05;
}

.priority-2 {
    background-color: #ff0000; 
    color: white;
}
.priority-2:hover {
    background-color: #a50707;
}

.button-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-content i {
    position: absolute;
    left: 10px; 
}
.body_button_main_register, .body_button_main_database {
    width: 100px; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}
.icon-text {
    font-size: 10px; 
}