<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast af boi</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel=" icon" href="../static/images/logo.png" />
</head>





<body class="mainSiteBody">
    <div class="container2">
        <button class="buttonOnMainSite" onclick="window.location.href = '{{ url_for('register') }}' ;">
            Register
        </button>
        <button class="buttonOnMainSite" onclick="window.location.href = '{{ url_for('all') }}' ;">
            Database access
        </button>
    </div>
    


</body>




</html>