<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast af boi</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel=" icon" href="../static/images/logo.png" />
</head>





<body class="mainSiteBody">
    <header>
        <div class="headerContainer">
            <div class="headerContainer2">
                <img src="/static/images/logo.png" alt="Logo" class="logo">
                <p class="headerShortcutName"> FRMS </p>
            </div>
            <h1 class="projectName">
                First Reaction Medical System
            </h1>
            <button class="loginButton">
                Log in
            </button>
        </div>
    </header>


    <div class="container2">
        <button class="buttonOnMainSite" onclick="window.location.href = '{{ url_for('register') }}' ;">
            Register
        </button>
        <button class="buttonOnMainSite" onclick="window.location.href = '{{ url_for('all') }}' ;">
            Database access
        </button>
    </div>
    



    <footer>
        <div class="footerContainer">
            <p class="ownershipFooterP">
                © Jastrzębski Myśliński Opoń Pomorski
            </p>
        </div>

    </footer>

</body>





</html>